<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-calendar-o"></i> Gestion Planning
            </li>
            <li class="active">
                <a [routerLink]="['/addPlanning']">Ajouter Planning</a>
            </li>
        </ul>

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input"
                       id="nav-search-input" autocomplete="off"/>
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
            </form>
        </div>
    </div>

    <div class="page-content">
        <div class="page-header">
            <div class="row">
                <h1 style="float: left">Ajouter un planning </h1>
                <div style="float: right">
                    <button [routerLink]="['/listePlannings']" (click)="active('gererPlanning');" class="btn btn-sm btn-primary">
					<i class="ace-icon fa fa-list bigger-110"></i>
					<span class="bigger-110 no-text-shadow">La liste des Plannings</span>
				</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="form-horizontal">
                    <div class="space-6"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="nom"> Nom </label>

                        <div class="col-sm-7">
                            <input type="text" id="nom" placeholder="Nom du Planning" [(ngModel)]='nomPlanning' class="col-xs-10 col-sm-5" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="mois1"> Mois/Année
                            Debut </label>

                        <div class="col-sm-2">
                            <select class="form-control" [(ngModel)]='moisDebut' id="mois1">
                                <option *ngFor="let m of mois; let i = index" value="{{m.idMois}}" >{{m.mois}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input type="number" id="mois1" [(ngModel)]='anneeDebut' required placeholder="Année" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="mois2"> Mois/Année
                            Fin </label>

                        <div class="col-sm-2">
                            <select class="form-control" [(ngModel)]='moisFin' id="mois2">
                                <option *ngFor="let m of mois; let i = index" value="{{m.idMois}}" >{{m.mois}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input type="number" id="mois2" [(ngModel)]='anneeFin' required placeholder="Année" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>


                    <div class="space-6"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-top" for="duallist">
                            Projets </label>
                        <dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter" [(destination)]="confirmed"
                            height="265px" [format]="format"></dual-list>
                        <!--<div class="col-sm-8">
                            <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist">
                                <option value="1">Nom Prénom 1</option>
                                <option value="2">Nom Prénom 2</option>
                                <option value="3" selected="selected">Nom Prénom 3</option>
                                <option value="4">Nom Prénom 4</option>
                                <option value="5">Nom Prénom 5</option>
                                <option value="6" selected="selected">Nom Prénom 6</option>
                                <option value="7">Nom Prénom 7</option>
                                <option value="8">Nom Prénom 8</option>
                                <option value="9">Nom Prénom 9</option>
                                <option value="10">Nom Prénom 10</option>
                            </select>
                            <div class="hr hr-16 hr-dotted"></div>
                        </div>-->
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-8">
                            <button class="btn btn-inverse" (click)='ajouterPlanning()'>Ajouter</button>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="alert alert-danger" *ngIf="msgError!=''">
                            <button type="button" class="close" data-dismiss="alert">
												<i class="ace-icon fa fa-times"></i>
											</button>
                            <strong>
												<i class="ace-icon fa fa-times"></i>
												ERROR ! 
											</strong> {{msgError}}
                            <br />
                        </div>
                        <div class="alert alert-block alert-success" *ngIf="reponse!=''">
                            <button type="button" id="reussi" class="close" data-dismiss="alert">
												<i class="ace-icon fa fa-times"></i>
											</button>

                            <p>
                                <strong>
													<i class="ace-icon fa fa-check"></i>
													success ! 
												</strong>
                            </p>

                        </div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>
    </div>
</div>