<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-users"></i> Gestion Collaborateur
            </li>
            <li class="active">
                <a [routerLink]="['/listeCollaborateurs']">Liste Collaborateurs</a>
            </li>
        </ul>

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input"
                       id="nav-search-input" autocomplete="off"/>
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
            </form>
        </div>
    </div>

    <div class="page-content">
        <div class="page-header">
            <div class="row">
                <h2 id="blue" class="col-xs-6">Liste des collaborateurs</h2>
                <div class="col-xs-2">
                    <label class="label-control">Lignes sur la page</label>
                    <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="15">15</option>
                    </select>
                </div>

                <div class="col-xs-4">
                    <div class="row">
                        <label class="col-xs-12 label-control">Trier par</label>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="nom">Nom</option>
                            <option ngValue="prenom">Prénom</option>
                            <option ngValue="email">Adresse mail</option>
                            <option ngValue="tel">téléphone</option>
                            <option ngValue="dateRecrutement">Date de Recrutement</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascendant</option>
                            <option ngValue="desc">Descendant</option>
                            <option ngValue="badValue">Mauvaise valeur</option>
                        </select>
                        </div>
                    </div>

                </div>

            </div>
            <div>
                <button [routerLink]="['/addCollaborateur']" (click)="active('addCollab');" class="btn btn-sm btn-primary">
					<i class="ace-icon fa fa-plus bigger-110"></i>
					<span class="bigger-110 no-text-shadow">Ajouter</span>
				</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->



                <div class="panel panel-default">
                    <div class="panel-heading">Les informations des collaborateurs</div>

                    <table class="table table-striped" [mfData]="data | dataFilterCollaborateur : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th style="width: 20%;text-align: center">
                                    <mfDefaultSorter by="nom">Nom</mfDefaultSorter>
                                </th>
                                <th style="width: 20%;text-align: center">
                                    <mfDefaultSorter by="prenom">Prénom</mfDefaultSorter>
                                </th>
                                <th style="width: 22%;text-align: center">
                                    <mfDefaultSorter by="email">Adresse mail</mfDefaultSorter>
                                </th>
                                <th style="width: 15%;text-align: center">
                                    <mfDefaultSorter by="tel">Téléphone</mfDefaultSorter>
                                </th>
                                <th style="width: 15%;text-align: center">
                                    <mfDefaultSorter by="dateRecrutement">Date de Recrutement</mfDefaultSorter>
                                </th>
                                <th style="width: 8%;text-align: center"></th>
                            </tr>
                            <tr>
                                <th colspan="6">
                                    Filtrer par nom:
                                    <input class="form-control" [(ngModel)]="filterQuery" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td>{{item.nom}}</td>
                                <td>{{item.prenom}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.tel}}</td>
                                <td>{{item.dateRecrutement | date : 'yyyy-MM-dd'}}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a title="Modifier" class="green" style="cursor: pointer" data-toggle="modal" [attr.data-target]="'#myModalM' + item.idCollaborateur"
                                            (click)="remplirDonnee(item.idCollaborateur,item.nom,item.prenom,item.email,item.tel,item.dateRecrutement)">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>

                                        <a title="Supprimer" class="red" style="cursor: pointer" data-toggle="modal" [attr.data-target]="'#myModalS' + item.idCollaborateur">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
                                    </div>
                                    <div class="modal fade" id="myModalS{{item.idCollaborateur}}" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Confirmation de la suppression</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>êtes-vous sûr ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" (click)="deleteCollaborateur(item.idCollaborateur)" data-dismiss="modal">Oui</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal fade" id="myModalM{{item.idCollaborateur}}" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Modifier Collaborateur Numéro : {{item.idCollaborateur}}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <!-- PAGE CONTENT BEGINS -->
                                                            <div class="form-horizontal">
                                                                <div class="space-6"></div>
                                                                <div class="space-6"></div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="nom"> Nom </label>

                                                                    <div class="col-sm-7">
                                                                        <input type="text" id="nom" placeholder="Nom" [(ngModel)]='nom' required class="col-xs-10 col-sm-10" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="prenom"> Prenom </label>
                                                                    <div class="col-sm-7">
                                                                        <input type="text" id="prenom" placeholder="Prénom" [(ngModel)]='prenom' required class="col-xs-10 col-sm-10" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="email"> Email </label>

                                                                    <div class="col-sm-7">
                                                                        <input type="email" id="email" placeholder="email@sqli.com" required [(ngModel)]='email' class="col-xs-10 col-sm-10" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="tel"> Téléphone </label>

                                                                    <div class="col-sm-7">
                                                                        <div class="input-group col-sm-7">
                                                                            <span class="input-group-addon">
								                                                <i class="ace-icon fa fa-phone"></i>
							                                                </span>
                                                                            <input class="col-xs-10 col-sm-10" [(ngModel)]='tel' required placeholder="06 XX XX XX XX" type="text" id="tel" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="tel"> Date de recrutement </label>

                                                                    <div class="col-sm-7">
                                                                        <div class="input-group col-sm-5">
                                                                            <input class="form-control date-picker" [(ngModel)]='dateRecrutement' id="id-date-picker-1" type="date" data-date-format="dd-mm-yyyy"
                                                                            />
                                                                            <span class="input-group-addon">
									                                            <i class="fa fa-calendar bigger-110"></i>
								                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group text-center">
                                                                    <div class="alert alert-danger" *ngIf="msgError!=''">
                                                                        <button type="button" class="close" data-dismiss="alert">
												                        <i class="ace-icon fa fa-times"></i>
											                            </button>
                                                                        <strong>
												                            <i class="ace-icon fa fa-times"></i>
												                                ERROR ! 
											                            </strong>                                                                        {{msgError}}
                                                                        <br />
                                                                    </div>
                                                                </div>
                                                                <!-- PAGE CONTENT ENDS -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" (click)="updateCollaborateur()" [attr.data-dismiss]="dataDissmiss">Modifier</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Quitter</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>


                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>
    </div>
</div>