<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-suitcase"></i> Gestion Planification
            </li>
            <li class="active">
                <a [routerLink]="['/listeAffectation']">Gerer Affectations</a>
            </li>
        </ul>

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input"
                       id="nav-search-input" autocomplete="off"/>
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
            </form>
        </div>
    </div>

    <div class="page-content">
        <div class="page-header">
            <div class="row">
                <h2 id="blue" class="col-xs-6">Liste des affectations</h2>
                <div class="col-xs-2">
                    <label class="label-control">Lignes sur la page</label>
                    <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <label class="col-xs-12 label-control">Trier par</label>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="collaborateur.nom">Nom Collaborateur</option>
                            <option ngValue="projet.titreProjet">Titre Projet</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascendant</option>
                            <option ngValue="desc">Descendant</option>
                            <option ngValue="badValue">Mauvaise valeur</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button [routerLink]="['/addAffectation']" (click)="active('addAffectation');" class="btn btn-sm btn-primary">
					<i class="ace-icon fa fa-plus bigger-110"></i>
					<span class="bigger-110 no-text-shadow">Ajouter</span>
				</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->



                <div class="panel panel-default">
                    <div class="panel-heading">Les informations des affectations</div>

                    <table class="table table-striped" [mfData]="data | dataFilterCollabProjet : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th style="width: 30%;text-align: center">
                                    <mfDefaultSorter by="collaborateur.nom">Nom Collaborateur</mfDefaultSorter>
                                </th>
                                <th style="width: 30%;text-align: center">
                                    <mfDefaultSorter by="projet.titreProjet">Titre Projet</mfDefaultSorter>
                                </th>
                                <th style="width: 2%"></th>
                            </tr>
                            <tr>
                                <th colspan="5">
                                    Filtrer par nom collaborateur:
                                    <input class="form-control" [(ngModel)]="filterQuery" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td>{{item.collaborateur.nom}} {{item.collaborateur.prenom}}</td>
                                <td>{{item.projet.titreProjet}}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a (click)="remove(item)" title="Supprimer" data-toggle="modal" [attr.data-target]="'#myModal' + item.collaborateur.idCollaborateur + '_' + item.projet.idProjet" class="red" style="cursor: pointer">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
                                    </div>
                                    <div class="modal fade" id="myModal{{item.collaborateur.idCollaborateur}}_{{item.projet.idProjet}}" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Confirmation de la suppression</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>êtes-vous sûr ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" (click)='deleteConfirm(item.collaborateur.idCollaborateur,item.projet.idProjet);'
                                                        data-dismiss="modal">Oui</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>


                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>
    </div>
</div>