<div class="main-content-inner">
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="error-container">
                    <div class="well" style="background-color: white;text-align: center">
                        <h1 class="grey lighter smaller">
                            <span class="red bigger-125">
												<i class="ace-icon fa fa-sitemap"></i>
												404
											</span> Page non trouvée
                        </h1>

                        <hr />
                        <h3 class="lighter smaller">Nous avons regardé partout mais nous ne pouvions pas le trouver !</h3>

                        <div>
                            <img src="./assets/images/404.gif" [routerLink]="['/welcome']" style="cursor: pointer;width: 100%;max-width: 500px" title="Revenir a la page home" />
                        </div>

                        <hr />
                        <div class="space"></div>

                        <div class="center">

                            <a [routerLink]="['/welcome']" style="cursor: pointer" class="btn btn-primary">
												<i class="ace-icon fa fa-home"></i>
												Home
											</a>
                        </div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>